.chirp {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
  }
  
  .cool-font {
    font-family: Shrikhand, cursive;
    font-size: 24px;
    color: #1da1f2;
  }
  
  .jumbotron {
    font-family: Shrikhand, cursive;
    color: white;
    background-color: #1da1f2;
  }
  
  input,
  textarea {
    margin: 20px;
  }
  
  .btn {
    margin: 10px;
    font-family: Shrikhand, cursive;
    color: #1da1f2;
    background-color: white;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }
  
  /* #tweet-area{
    background-color: antiquewhite;
    border-style: dotted dashed solid double;
  
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    grid-gap: 10px;
    
    } */

    .tweet{
      background-color: whitesmoke;
      /* border-style: dotted dashed solid double; */
      
      grid-template: 200px / auto auto auto;
      
      /* background-color: #2196F3; */
      padding: 30px;
    }
